<link rel="stylesheet" class="aplayer-secondary-style-marker" href="/assets/css/APlayer.min.css"><script src="/assets/js/APlayer.min.js" class="aplayer-secondary-script-marker"></script>.subscribe {
  text-align: center;
  background-color: lightsalmon;
  padding:10px;

}
.subscribe a{
  color: white;
}
.subscribe a:hover{
  color: lightsalmon;
  padding: 10px;
  background-color: white;
  font-family: cursive
}
